<!DOCTYPE html>
<html lang="pt-br" class="bg-gray-100 font-sans text-gray-800 min-h-screen">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AgendeJá - Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../static/imgs/Miniatura.png">
</head>
<body class="flex flex-col min-h-screen">

<div
        id="page-login"
        class="flex items-center justify-center flex-1 p-4 bg-gray-100"
>
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
        <!-- Espaço para sua logo -->
        <div class="flex justify-center mb-8">
            <img src="../static/imgs/Logo.png" alt="Logo AgendeJá" class="h-20 w-auto"/>
        </div>

        <h2 class="text-2xl font-semibold mb-4 text-center text-blue-600">
            Bem-vindo
        </h2>

        <form class="space-y-4" id="login-form" action="/login" method="post">

            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
                    {{ error }}
                </div>
            {% endif %}
            <!-- E-mail -->
            <div>
                <label class="block mb-1 font-medium" for="login-email"
                >E-mail</label
                >
                <input
                        type="email"
                        id="login-email"
                        name="email"
                        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
                        placeholder="seu@email.com"
                        required
                />
            </div>
            <!-- Senha -->
            <div>
                <label class="block mb-1 font-medium" for="login-senha"
                >Senha</label
                >
                <input
                        type="password"
                        id="login-senha"
                        name="password"
                        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
                        placeholder="Senha"
                        required
                />
            </div>
            <!-- Botão Entrar -->
            <button
                    type="submit"
                    class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded transition"
            >
                Entrar
            </button>
        </form>
        <!-- Links -->
        <div class="mt-4 flex justify-between text-sm">
            <a href="#" id="link-esqueci" class="text-blue-400 hover:underline"
            >Esqueci minha senha</a
            >
            <a href="cadastro.html" id="link-cadastrar" class="text-blue-400 hover:underline"
            >Cadastre-se</a
            >
        </div>
    </div>
</div>

<script src="../static/js/login.js"></script>
</body>
</html>